[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
pyls-isort = "*"
pyls-mypy = "*"
pyls-black = "*"
ptvsd = "*"
importmagic = "*"
epc = "*"
python-language-server = {extras = ["all"],version = "*"}
autoflake = "*"
flake8 = "*"

[packages]
nbdev = "*"
numpy = "*"
pandas = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
