[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}
pyls-isort = "*"
pyls-mypy = "*"
pyls-black = "*"
flake8 = "*"
autoflake = "*"
ptvsd = "*"
importmagic = "*"
epc = "*"
jupyterlab = "*"
nbdev = "*"

[packages]
numpy = "*"
pandas = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
